<%- include("partials/header")  -%> 
<br>
<h1>Home</h1>
<hr>
<%  posts.forEach((content) =>{ %>
    <h2>
        <%= content.postTitle %>
    </h2>
    <p>
        <%= content.postBody.substring(0, 400) + " ..." %>
        <a href="<%= content.postLink %>"> Read more </a>
        <a href="/posts/<%= content.postTitle %>"> Read more </a>


    </p>
    <br>
    <hr>
<% }); %>

<%- include("partials/footer")  -%> 